/* Importing local fonts */
@import url("./css/fonts.css");

/* Custom variables */
:root {
  /* Colors */
  --primary-color: #1024c8;
  --secondary-color: #263bed;
  --light-color: #edeffe;
  --dark-color: #060d49;
  --white-color: #ffffff;
  --black-color: #000000;
  --danger-color: #dc3545;
  --success-color: #198754;

  /* fonts */
  --primary-font: "Poppins", sans-serif;

  /* transitions */
  --trans-3s: all 0.3s ease;
  --trans-5s: all 0.5s ease;

  /* spacings */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 1rem; /* 16px */
  --spacing-4: 1.5rem; /* 24px */
  --spacing-5: 3rem; /* 48px */

  /* Box-shadow */
  --shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}

/* Resets */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* Header styles */
.header {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-3);
  padding: var(--spacing-3);
  min-width: 375px;
}

.header .title {
  margin-top: var(--spacing-5);
  font-size: 3rem;
}

/* Main styles */
.main {
  margin: 0 auto;
  width: 75%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: var(--spacing-5);
}

.picture {
  padding: var(--spacing-3);
}

.qr-picture {
  width: 470px;
  height: auto;
}

.qr-generate {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow);
  padding: var(--spacing-5);
  border-radius: 5px;
  min-width: 340px;
  margin-bottom: var(--spacing-3);
  position: relative;
}

.qr-generate .section-text {
  align-self: flex-start;
  font-weight: 700;
  margin-bottom: var(--spacing-3);
  font-size: 22px;
  color: var(--dark-color);
}

.qr-generate .user-input {
  width: 100%;
  height: 50px;
  border: 3px solid var(--dark-color);
  outline: 0;
  padding: var(--spacing-2);
  margin: var(--spacing-2) 0 var(--spacing-3);
  border-radius: 5px;
}

.qr-generate .user-input:focus {
  border: 3px solid var(--primary-color);
}

.qr-generate .qr-response {
  transition: var(--trans-5s);
  margin-bottom: var(--spacing-2);
}

.qr-generate .generate-btn {
  width: 100%;
  height: 50px;
  border: 0;
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 14px;
  border-radius: 5px;
  margin: var(--spacing-2) 0 var(--spacing-3);
  transition: var(--trans-3s);
  cursor: pointer;
}

.qr-generate .generate-btn:hover {
  background-color: var(--secondary-color);
}

.download-btn {
  width: 0;
  height: 0;
  border: 2px solid var(--dark-color);
  background-color: var(--light-color);
  color: var(--dark-color);
  font-size: 14px;
  border-radius: 5px;
  margin-top: var(--spacing-2);
  transition: var(--trans-3s);
  pointer-events: none;
  opacity: 0;
}

.download-btn.active {
  width: 100%;
  height: 50px;
  pointer-events: auto;
  cursor: pointer;
  opacity: 1;
  transition: var(--trans-3s);
}

.download-btn:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* error feedback */
.qr-generate .user-input.error {
  border: 3px solid var(--danger-color);
  animation: shake 0.1s linear 10;
}

.qr-generate .generate-btn.error {
  background-color: var(--danger-color);
  animation: shake 0.1s linear 10;
}

/* loading feedback */
.generate-btn.blink {
  animation: blink 2.2s ease 0s infinite normal forwards;
}

/* success feedback */
.success {
  position: absolute;
  font-size: 16px;
  top: 10px;
  color: var(--success-color);
  display: flex;
  align-items: center;
  gap: 1px;
  opacity: 0;
  transition: var(--trans-3s);
}

.success ion-icon {
  width: 25px;
  font-size: 20px;
}

.success.showUp {
  animation: showUp 2s ease 0s 1 normal forwards;
  opacity: 1;
}
.qr-generate .user-input.success-color {
  border: 3px solid var(--success-color);
  transition: var(--trans-3s);
}

/* Key frames - error, loading and sucess animations */
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.5;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Media queries - From Desktop to Mobile */
/* Largest devices (1400px and down) */
@media only screen and (max-width: 87.5rem) {
}

/* Extra Large devices (1200px and down) */
@media only screen and (max-width: 75rem) {
  .main {
    width: 80%;
  }
  .qr-generate h3 {
    font-size: 20px;
  }

  .qr-picture {
    width: 440px;
  }
}

/* Large devices (992px and down) */
@media only screen and (max-width: 62rem) {
  .main {
    width: 92%;
  }

  .qr-picture {
    padding: 0;
    width: 380px;
  }

  .qr-generate h3 {
    font-size: 18px;
  }
}

/* Medium devices (768px and down) */
@media only screen and (max-width: 48rem) {
  .header {
    margin-top: var(--spacing-2);
  }
  .header .title {
    font-size: 2.5rem;
  }

  .container {
    flex-direction: column;
    margin-top: var(--spacing-2);
  }

  .qr-picture {
    width: 300px;
  }
}

/* Small devices (576px and down) */
@media only screen and (max-width: 36rem) {
  .header {
    margin-top: var(--spacing-1);
  }

  .header .title {
    font-size: 2.2rem;
  }

  .qr-picture {
    width: 260px;
  }
}
